nifi_templates/price_intelligence_nifi_template.xml.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Price Intelligence - Real-Time Streaming Flow: ListenHTTP to JoltTransformJSON to PutBigtable</description>
    <groupId>price-intelligence-process-group</groupId>
    <name>PriceIntelligence_Streaming_Flow</name>
    <snippet>
        <processGroups/>
        <remoteProcessGroups/>
        <processors>
            <id>a1b2c3d4-0001-0001-0001-000000000001</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <position>
                <x>200.0</x>
                <y>200.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Receives real-time price data from scraper via HTTP POST</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Listening Port</key>
                        <value>8082</value>
                    </entry>
                    <entry>
                        <key>Max Unconfirmed FlowFile Time</key>
                        <value>60 secs</value>
                    </entry>
                    <entry>
                        <key>Return Code</key>
                        <value>200</value>
                    </entry>
                    <entry>
                        <key>Authorized DN Pattern</key>
                        <value>.*</value>
                    </entry>
                </properties>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <n>ListenHTTP - Receive Price Data</n>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <n>success</n>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListenHTTP</type>
        </processors>
        <processors>
            <id>a1b2c3d4-0002-0002-0002-000000000002</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <position>
                <x>500.0</x>
                <y>200.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Transform and normalize price data using Jolt spec</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>jolt-transform</key>
                        <value>jolt-transform-shift</value>
                    </entry>
                    <entry>
                        <key>jolt-spec</key>
                        <value>[{"operation":"shift","spec":{"product_id":"product_id","name":"metadata_cf.name","price":"price_cf.price","old_price":"price_cf.old_price","discount":"price_cf.discount","rating":"metadata_cf.rating","category":"metadata_cf.category","url":"metadata_cf.url","scraped_at":"price_cf.scraped_at","timestamp":"price_cf.timestamp"}}]</value>
                    </entry>
                    <entry>
                        <key>Transform Cache Size</key>
                        <value>1</value>
                    </entry>
                </properties>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <n>JoltTransformJSON - Normalize Price Data</n>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <n>success</n>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <n>failure</n>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
        </processors>
        <processors>
            <id>a1b2c3d4-0003-0003-0003-000000000003</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <position>
                <x>800.0</x>
                <y>200.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Set Bigtable row key as product_id#timestamp</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bigtable.row.key</key>
                        <value>${product_id}#${now():format('yyyy-MM-dd HH:mm:ss')}</value>
                    </entry>
                    <entry>
                        <key>bigtable.project.id</key>
                        <value>project-32a82952-90fa-4dd7-b9c</value>
                    </entry>
                    <entry>
                        <key>bigtable.instance.id</key>
                        <value>price-intelligence</value>
                    </entry>
                    <entry>
                        <key>bigtable.table.name</key>
                        <value>prices</value>
                    </entry>
                </properties>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <n>UpdateAttribute - Set Row Key product_id#timestamp</n>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <n>success</n>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>a1b2c3d4-0004-0004-0004-000000000004</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <position>
                <x>1100.0</x>
                <y>200.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Write price data to Google Cloud Bigtable - table: prices, instance: price-intelligence</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Project ID</key>
                        <value>project-32a82952-90fa-4dd7-b9c</value>
                    </entry>
                    <entry>
                        <key>Instance ID</key>
                        <value>price-intelligence</value>
                    </entry>
                    <entry>
                        <key>Table Name</key>
                        <value>prices</value>
                    </entry>
                    <entry>
                        <key>Row ID</key>
                        <value>${bigtable.row.key}</value>
                    </entry>
                    <entry>
                        <key>Column Family</key>
                        <value>price_cf</value>
                    </entry>
                    <entry>
                        <key>Default Column Family</key>
                        <value>price_cf</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                </properties>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <n>PutBigtable - Write to prices table</n>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <n>success</n>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <n>failure</n>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.gcp.bigtable.PutBigtable</type>
        </processors>
        <processors>
            <id>a1b2c3d4-0005-0005-0005-000000000005</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <position>
                <x>1100.0</x>
                <y>400.0</y>
            </position>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>Log failures for observability</comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>warn</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>.*</value>
                    </entry>
                </properties>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <n>LogAttribute - Log Bigtable Failures</n>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <n>success</n>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <connections>
            <id>conn-0001-0001-0001-0001-000000000001</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <id>a1b2c3d4-0002-0002-0002-000000000002</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <id>a1b2c3d4-0001-0001-0001-000000000001</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>conn-0002-0002-0002-0002-000000000002</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <id>a1b2c3d4-0003-0003-0003-000000000003</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <id>a1b2c3d4-0002-0002-0002-000000000002</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>conn-0003-0003-0003-0003-000000000003</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <id>a1b2c3d4-0004-0004-0004-000000000004</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name/>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <id>a1b2c3d4-0003-0003-0003-000000000003</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>conn-0004-0004-0004-0004-000000000004</id>
            <parentGroupId>price-intelligence-process-group</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <id>a1b2c3d4-0005-0005-0005-000000000005</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <name/>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <id>a1b2c3d4-0004-0004-0004-000000000004</id>
                <groupId>price-intelligence-process-group</groupId>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <funnels/>
        <inputPorts/>
        <labels/>
        <outputPorts/>
    </snippet>
    <timestamp>04/22/2026 14:30:00 GMT</timestamp>
</template>
